In [1]:
print("Your age is 25")

Your age is 25

In [2]:
letters=['a','b','c','d','e','f']
print(letters)

['a', 'b', 'c', 'd', 'e', 'f']

In [3]:
letters[:]

['a', 'b', 'c', 'd', 'e', 'f']

In [4]:
letters[:-1]

['a', 'b', 'c', 'd', 'e']

In [5]:
letters[-1:]

['f']

In [6]:
letters[-2:]

['e', 'f']

In [7]:
letters[:-2]

['a', 'b', 'c', 'd']

In [8]:
letters[-1]

'f'

In [9]:
letters[::1]

['a', 'b', 'c', 'd', 'e', 'f']

In [10]:
letters[::2]

['a', 'c', 'e']

In [11]:
letters[::-1]

['f', 'e', 'd', 'c', 'b', 'a']

In [12]:
letters[::-2]

['f', 'd', 'b']

In [13]:
name="kailash"
print(name[2])
print(name[-1])

i
h

In [14]:
print(name[0:3])
print(name[0:7:2])

kai
kiah

In [15]:
print(name[::])

kailash

In [16]:
print(name[::-1])

hsaliak

In [2]:
 kailash=['abc','def','ghi']

In [3]:
kailash[1]='jhi'
print(kailash)

['abc', 'jhi', 'ghi']

In [4]:
li=[]
for i in range(1,11):
    li.append(i)
print(li[2:11:2])

[3, 5, 7, 9]

In [5]:
li=[]
for i in range(1,11):
    li.append(i)
print(min(li))
print(max(li))

1
10

In [6]:
cars=['bmw','audi','toyota','hyundai','ferrari']

In [8]:
print(cars[-3:])

['toyota', 'hyundai', 'ferrari']

In [13]:
cars=['bmw','audi','toyota','hyundai','ferrari']
for i in cars[0:3]:
    print(i)

bmw
audi
toyota

In [14]:
cars=['bmw','audi','toyota','hyundai','ferrari']
for i in cars[1:3]:
    print(i)

audi
toyota

In [24]:
triangle=(100,50,100,20,20,10)

In [25]:
for a in triangle:
    print(a)

100
50
100
20
20
10

In [2]:
a=11
if a>=10:
    print("yes")

yes

In [4]:
age=50
if age<18:  
    print("Your ticket fare is $5")

elif age>=18 and age<50:  
    print("Your ticket fare is $10")

else:
    print("Your ticket fare is $7.5")

Your ticket fare is $7.5

In [5]:
cars=['audi','bmw','toyota','ferrari','Hyundai']
if 'audi' in cars:
    print("yes")

yes

In [2]:
print('The word "Ciao" means "hello" in Italian.')

The word "Ciao" means "hello" in Italian.

In [4]:
print("The ship's name is 'Brave'.")

The ship's name is 'Brave'.

In [4]:
#OddEven

num=int(input("Enter the number : "))
if (num%2)==0:
    print("Number is Even")
else:
    print("Number is Odd")

Enter the number : 7
Number is Odd

In [5]:
name="kailash"
print(name[::-1])

hsaliak

In [11]:
number=12345

In [13]:
print("number of",number,"number",number)

number of 12345 number 12345

In [16]:
#factorial


num=int(input("Enter the number"))
fact=1
for i in range(1,num+1):
    fact=fact*i
print("factorial of",num,"is",fact)

Enter the number0
factorial of 0 is 1

In [23]:
#reverse

num=float(input("Enter the number : "))
rev=0
while (num>0):
    dig=num%10
    rev=(rev*10)+dig
    num=num//10
print("reverse of",num,"is",rev)

Enter the number : 12345
reverse of 0.0 is 54321.0

In [24]:
10/10

1.0

In [25]:
10//10

1

In [26]:
print('Those in favor, say "aye"')

Those in favor, say "aye"

In [1]:
a = 10
type(a)

int

In [2]:
a=10
b=20
print(a+b)

30

In [3]:
a=int(10)

In [4]:
type(a)

int

In [5]:
print(a/b)

0.5

In [6]:
print(a//b)

0

In [7]:
c=a//b

In [8]:
print(c)

0

In [9]:
type(c)

int

In [16]:
a=14
b=3
print(a/b)

4.666666666666667

In [17]:
print(a//b)

4

In [18]:
a is b

False

In [19]:
c=a is b

In [20]:
type(c)

bool

In [21]:
a is not c

True

In [22]:
a=10
b=10
print(a is b)

True

In [23]:
a is not b

False

In [27]:
x=10

def Check():
    x=14
    y=x+14
    return y

print(Check())
print(x)

28
10

In [28]:
x=['a',1,2,'asd',True]

In [29]:
type(x)

list

In [30]:
x=('a','b',1,2)

In [31]:
type(x)

tuple

In [75]:
x={'name':'kailash','age':20}

In [33]:
type(x)

dict

In [34]:
x={'a','b',1,2}

In [35]:
type(x)

set

In [98]:
x=list(('kailash'))

In [99]:
type(x)

list

In [100]:
x[0:3]

['k', 'a', 'i']

In [95]:
x=tuple(('kailash','parihar'))

In [96]:
type(x)

tuple

In [97]:
x[0]

'kailash'

In [82]:
x=dict(name='kailash',age=20)

In [83]:
type(x)

dict

In [84]:
print(x)

{'name': 'kailash', 'age': 20}

In [85]:
x['name']

'kailash'

In [86]:
x=set(('kailash',1,2,True))

In [87]:
type(x)

set

In [88]:
print(x)

{1, 'kailash', 2}

In [89]:
a='hello'
b='world'
print(a+b)

helloworld

In [91]:
age=20
txt="my name is kailash and my age is {}"
print(txt.format(age))

my name is kailash and my age is 20

In [93]:
age = 20
print("my name is kailash and my age is",str(age))

my name is kailash and my age is 20

In [94]:
a=None
while a:
    print(a)

In [1]:
a=10
b=20
a!=b

True

In [4]:
a = [1,2,3,4,5,6,7,8]
print(a[7])

8

In [1]:
i = 5             # a whole number int type                  
f = 3.1415926      # a floating point number    Value of Pi          
string = "Python Course"    # a string Variable

print(i)
print(f)
print(string)

Concatenation = string + " " + string #here as you can see we add to strings together
print(Concatenation)

sum = f + f #sum of the float point numbers
print(sum)

'''
we have several variables (i,f,String) which are of different data types. Later in the program we create more variables (Concatenation, sum).
Variables can be defined anywhere in the program. Variable names can be one to n letters.
'''

5
3.1415926
Python Course
Python Course Python Course
6.2831852

'\nwe have several variables (i,f,String) which are of different data types. Later in the program we create more variables (Concatenation, sum).\nVariables can be defined anywhere in the program. Variable names can be one to n letters.\n'