In [1]:
num = 10

In [2]:
print(num)

10

In [3]:
a = 10

In [10]:
num = int(input("Enter Number :"))

Enter Number :42

In [5]:
num

'45'

In [6]:
num +50

TypeError: must be str, not int

In [7]:
int(num) + 42

87

In [8]:
num = int(num)

In [9]:
num

45

In [11]:
type(num)

int

In [12]:
num

42

In [13]:
print(num)

42

In [14]:
print("Number input is", num)

Number input is 42

In [15]:
print "Message like this."

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Message like this.")? (<ipython-input-15-d10d51266d3b>, line 1)

In [16]:
from __future__ import print_function

In [19]:
fruit = "apple"
price = 300
print("I purchased 4kg %s worth Rs%s only" %(fruit, price))

I purchased 4kg apple worth Rs300 only

In [21]:
print(1, end=" ")
print(2, end=" ")
print(3, end=" ")

1 2 3

In [22]:
# This is a single line comment

In [23]:
'''
Multiline comments
'''

'\nMultiline comments\n'

In [24]:
"""
Multiline comments
"""

'\nMultiline comments\n'

In [25]:
list1 = [10, 20, 30, 40, 50]

In [26]:
num = 60

In [27]:
num in list1

False

In [28]:
num not in list1

True

In [29]:
a = 10
b = 20
a > b

False

In [31]:
if a > b:
    print("a is greter than b.")
else:
    print("b is greater than a.")

b is greater than a.

In [32]:
range(0, 10)

range(0, 10)

In [34]:
for n in range(0, 10):
    print(n, end=" ")

0 1 2 3 4 5 6 7 8 9

In [36]:
for n in range(1, 10):
    if n % 2 == 0:
        print(n, end=" ")

2 4 6 8

In [37]:
sum = 0
for n in range(1, 10):
    sum = sum + n
print("Sum of numbers from 1 to 9 is ", sum)

Sum of numbers from 1 to 9 is  45

In [39]:
str1 = "This is a string"
for ch in str1:
    print(ch, end=" ")

T h i s   i s   a   s t r i n g

In [44]:
count = 0
char = 'g'
str1 = "This is a string"
for ch in str1:
    if ch==char:
        count = count + 1
print("Character %s appears %s times in the string." %(char, count))

Character g appears 1 times in the string.

In [45]:
list1 = [1, 2, 3, 4, 5, 7]
sum = 0
for n in list1:
    sum = sum + n
print("Sum of numbers in list list1 = ", sum)

Sum of numbers in list list1 =  22

# Session after Lunch

In [1]:
tup1 = (10, 20, 30, 40, 50, 60)
for n in tup1:
    print(n, end=" ")

10 20 30 40 50 60

In [2]:
list1 = [(10, 20), (30, 40), (50, 60), (70, 80)]

In [3]:
list1

[(10, 20), (30, 40), (50, 60), (70, 80)]

In [4]:
list1[0]

(10, 20)

In [5]:
for n in list1:
    print(n)

(10, 20)
(30, 40)
(50, 60)
(70, 80)

In [6]:
for n in list1:
    print(n[0], " ", n[1])

10   20
30   40
50   60
70   80

In [7]:
for (x, y) in list1:
    print(x, " ", y)

10   20
30   40
50   60
70   80

In [8]:
dict1 = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}

In [9]:
dict1

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [11]:
dict1 = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}
for n in dict1:
    print(n)

a
b
c
d
e

In [14]:
for x,y in dict1.items():
    print(x, " ", y)

a   1
b   2
c   3
d   4
e   5

In [16]:
x = 0
while x < 10:
    print(x, end=" ")
    x = x + 1
print("Finished....")

0 1 2 3 4 5 6 7 8 9 Finished....

In [21]:
x = 0
while x < 10:
    if x == 5:
        break
    else:
        pass        
    print(x, end=" ")
    x = x + 1
print()
print("Finished...")

0 1 2 3 4
Finished...

In [23]:
def function_name():
    pass

In [24]:
function_name()

In [25]:
def sum_of_two_numbers(a, b):
    print(a + b)

In [26]:
sum_of_two_numbers(10, 20)

30

In [27]:
def addnumbers(a, b):
    """
        This function adds two numbers only.
        a and b are two paremeter that accepts integers.
    """
    print(a + b)

addnumbers(10, 20)

30

In [28]:
help(addnumbers)

Help on function addnumbers in module __main__:

addnumbers(a, b)
    This function adds two numbers only.
    a and b are two paremeter that accepts integers.

In [33]:
x = 30

def func():
    global x
    x = 10
    y = 20
    print (x , " " , y)
    
func()
print(x)

10   20
10

In [36]:
str = "New Delhi"
for n in str:
    print(n, end=" ")

N e w   D e l h i

In [37]:
str = "New Delhi"
letters = [char for char in str]
letters

['N', 'e', 'w', ' ', 'D', 'e', 'l', 'h', 'i']

In [40]:
list1 = [1,2,3,4,5,6,7,8,9,10]
square = [ x**2 for x in list1]
square

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [42]:
list1 = [ x**2 for x in range(1, 11) ]
list1

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [43]:
list1 = [ x**2 for x in range(1,11) if x%2==0 ]
list1

[4, 16, 36, 64, 100]

In [46]:
list1 = [ y**2 for y in [ x**2 for x in range(1,11) if x%2==0 ]]
list1

[16, 256, 1296, 4096, 10000]