In [1]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [2]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [3]:
help(" ".upper)

Help on built-in function upper:

upper(...) method of builtins.str instance
    S.upper() -> str

    Return a copy of S converted to uppercase.

In [4]:
dir([])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [5]:
dir({})

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [6]:
abs(-4)

4

In [7]:
abs(-43)

43

In [8]:
bool(0)

False

In [9]:
bool(1)

True

In [11]:
strcode = "print('Single line statement.')"

In [12]:
strcode

"print('Single line statement.')"

In [13]:
eval (strcode)

Single line statement.

In [15]:
mltcode = """
print('Line First')
print('Line Second')
a=10
print(a)
"""

In [16]:
mltcode

"\nprint('Line First')\nprint('Line Second')\na=10\nprint(a)\n"

In [17]:
exec(mltcode)

Line First
Line Second
10

In [18]:
val = input("Enter Number : ")

Enter Number : 10

In [19]:
val

'10'

In [21]:
val + 56

TypeError: must be str, not int

In [22]:
type(56)

int

In [23]:
int(val) + 56

66

In [25]:
val2 = 90

In [26]:
print("The value of val variable = ", val, val2)

The value of val variable =  10 90

In [27]:
print("The value of two variable is %s and %s" %(val, val2))

The value of two variable is 10 and 90

In [32]:
val3 = 0.8999999998822

In [29]:
val3

8999.899999999881

In [30]:
print("The value of two variable is %s, %s and %s" %(val, val2, val3))

The value of two variable is 10, 90 and 8999.899999999881

In [41]:
print("The formatted floating type value %6.2f" %(val3))

The formatted floating type value   0.90

In [43]:
print("Buy {x} and Get {y}" .format(x="four", y="three"))

Buy four and Get three

In [44]:
# This is a single Line Comment

In [46]:
"""
This is a multiline comment.
It can be extended to multilines.
"""
print("Hello")

Hello

In [47]:
# Arithmatic Operators : *, -, +, /, %, // (Floor Division), **

In [48]:
# Comparison Operator : <, >, <=, >=, ==, !=  <>

In [50]:
# Bitwise Operator :  & (Binary And), | (Binary OR), << (Left Shift), >> (Right Shift),
# ^ (Baniary XOR), ~ (Binary One's Complement)

In [51]:
"""
Logical Operator :
and
or
not
"""

'\nLogical Operator :\nand\nor\nnot\n'

In [52]:
"""
Membership Operator
1. in
2. not in
"""

'\nMembership Operator\n1. in\n2. not in\n'

In [53]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8]

In [54]:
list1

[1, 2, 3, 4, 5, 6, 7, 8]

In [57]:
9 not in list1

True

In [58]:
7 not in list1

False

In [59]:
"""
Identical Operator
1. is
2. is not
"""

'\nIdentical Operator\n1. is\n2. is not\n'

In [60]:
a = 10
b = 10
a is b

True

In [61]:
a is not b

False

In [66]:
a = input("Input First Number : ")
b = input("Input Second Number : ")
result = int(a) + int(b)
print("Addition off {x1} and {x2} is {res}" .format(x1=a,x2=b,res=result))

Input First Number : 12
Input Second Number : 23
Addition off 12 and 23 is 35

In [67]:
a = input("Input First Number : ")
b = input("Input Second Number : ")
result = int(a) ** int(b)
print("{x1} ** {x2} is {res}" .format(x1=a,x2=b,res=result))

Input First Number : 12
Input Second Number : 23
12 ** 23 is 6624737266949237011120128

In [68]:
a = input("Input First Number : ")
b = input("Input Second Number : ")
b,a = int(a), (b)
print("a : {x1} and b : {x2}" .format(x1=a,x2=b))

Input First Number : 12
Input Second Number : 23
a : 23 and b : 12

In [69]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [70]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [71]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [75]:
for i in range(0, 10):
    for j in range(0, 5):
        print(j, end=" ")
    print()

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

In [1]:
name=input("enter the name  ")
for i in range(0,len(name)):
    print(name[i])

enter the name  kailash
k
a
i
l
a
s
h